@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800&display=swap');

:root{
    --lightest-grey-background: #F8F9FB;
    --black: #0E101A;
    --grey: #9FA6BF;
    --background-error: #FDEFEE;
    --error: #F66D83;
    --for-links: #4C7AF1;
    --primary-color: #04C494;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Rubik', sans-serif;
}

#signup > .row{
    margin: 0 !important;
}

#break-bank{
    background: #F3CF82;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#break-bank > h4{
    color: #574727;
}