
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');
body {
    font-family: Rubik;
}
.welcome {
    background-color: #FFFFFF;
}
#logihub-head {
    float: left;
    color: #04C494;
    text-transform: uppercase;
    font-family: Rubik medium;
    font-size: 28px;
}
#log {
    float: right;
    font-size: 20px;
}
#log-right {
    color: #A0A0A2;
    font-family: Rubik light;
}
#log span {
    color: #04C494;
    font-family: Rubik medium;
}
.main {
    margin-top: 7em;

}
.main h2 {
    font-family: Rubik medium;
    font-size: 44px;
}
.main p {
    font-family: Rubik light;
    font-size: 20px;
    color: #303758;
}
.form {
    justify-content: center;
    margin-left: 6rem;
}

#password span {
    margin-left: 18rem;
    color: #04C494;
}
.check {
    color: #04C494;
}
button {
    border: solid white;
    border-radius: 4px;
    background-color: #04c494;
    color: white;
    font-size: 18px;
    padding: 10px;
}

.digital {
    background-color: #F3CF82;
    overflow: hidden;
} 
.digital img {
    opacity: 0.4;
}
.digital p{
    font-size: 32px;
    font-family: Rubik;
    margin-top: 5rem;
}
#rights {
    float: left;
    font-size: 18px;
    color: #A0A0A2;
    font-family: Rubik light;
}
#support {
    float: right;
    font-size: 18px;
    color: #A0A0A2;
    font-family: Rubik medium;   
}
#support span {
    color: #04C494;
    font-family: Rubik medium;
}
