
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');
 *{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    

}
body {
    font-family: Rubik;
} 
.svg{
    width: 471px;
    height: 440px;
    opacity: 1;
}
h1{
    top: 342px;
left: 1045px;
width: 398px;
height: 52px;
text-align: left;
font: normal normal bold 44px/48px Rubik;
letter-spacing: 0px;
color: #212121;
opacity: 1;
}
p{
    top: 402px;
left: 1045px;
width: 482px;
height: 24px;
text-align: left;
font: normal normal 300 20px/28px Rubik;
letter-spacing: 0px;
color: #424242;
opacity: 1;
}
.mail{
    width: 650px;
    height: 56px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #A0A6BD;
    border-radius: 4px;
    opacity: 1;
    margin-top: 0.5em;
}
.butn{
    width: 650px;
    height: 56px;
    background: var(--primary-color) 0% 0% no-repeat padding-box;
    background: #04C494 0% 0% no-repeat padding-box;
    border-radius: 4px;
    opacity: 1;
    color: white;
    margin-top: 4rem;
}
.logo{
    width: 123px;
    height: 33px;
    color: var(--primary-color);
    text-align: left;
    font: bold 18px/23px Rubik;
    letter-spacing: 0px;
    color: #04C494;
    text-decoration: none;
}


  

.welcome {
    background-color: #FFFFFF;
}
#logihub-head {
    float: left;
    color: #04C494;
    text-transform: uppercase;
    font-family: Rubik medium;
    font-size: 28px;
}
#log {
    float: right;
    font-size: 20px;
}
#log-right {
    color: #A0A0A2;
    font-family: Rubik light;
}
#log span {
    color: #04C494;
    font-family: Rubik medium;
}
.main {
    margin-top: 7em;

}
.main h2 {
    font-family: Rubik medium;
    font-size: 44px;
}
.main p {
    font-family: Rubik light;
    font-size: 20px;
    color: #303758;
}
.form {
    justify-content: center;
    margin-left: 6rem;
}

#password span {
    margin-left: 18rem;
    color: #04C494;
}
.check {
    color: #04C494;
}
button {
    border: solid white;
    border-radius: 4px;
    background-color: #04c494;
    color: white;
    font-size: 18px;
    padding: 10px;
}

.digital {
    background-color: #F3CF82;
    overflow: hidden;
} 
.digital img {
    opacity: 0.4;
}
.digital p{
    font-size: 32px;
    font-family: Rubik;
    margin-top: 5rem;
}
#rights {
    float: left;
    font-size: 18px;
    color: #A0A0A2;
    font-family: Rubik light;
}
#support {
    float: right;
    font-size: 18px;
    color: #A0A0A2;
    font-family: Rubik medium;   
}
#support span {
    color: #04C494;
    font-family: Rubik medium;
}
